---
import { Footer } from '@/partials/Footer';
import { Navbar } from '@/partials/Navbar';
import { AppConfig } from '@/utils/AppConfig';
import { ViewTransitions } from 'astro:transitions';
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content={AppConfig.author} />

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap">
    </GoogleFontsOptimizer>
    <ViewTransitions />
  </head>
  <body class='font-mono text-base antialised flex-col min-h-screen text-zinc-900 bg-gray-100 text-gray-100'>
    <Navbar />

    <slot></slot>

    <Footer />
  </body>
</html>
